pandas
scikit-learn
pytest
fastapi
uvicorn[standard]
pydantic
httpx
opentelemetry-api
opentelemetry-sdk
# LLM dependencies
transformers
torch
google-cloud-storage
google-cloud-secret-manager
peft
accelerate
bitsandbytes
datasets
huggingface-hub